<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Of Website</title>
  </head>
  <body>
    <h2>How about My Content</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ratione
      saepe asperiores laudantium est? Inventore sapiente animi a adipisci
      accusantium ipsum commodi totam! Quae cum quod sed quaerat nihil sapiente!
    </p>
    <ul>
      <li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          rerum ipsam voluptatum eveniet unde fugit. Autem eius voluptas,
          architecto earum sunt voluptate, debitis vitae cum quidem rerum quas
          excepturi commodi?
        </p>
      </li>
      <img src="./assets/img/IMG_0393.JPG" alt="" />
    </ul>
  </body>
</html>
